<div class="side-nav">
  <img src="assets/img/logo.png" class="side-nav__icon" />
  <div class="side-nav__content">
    <app-nav-group class="side-nav__nav-group" [impairedMode]="impairedMode" [fontSize]="fontSize" [groupName]="'main'" [buttonsContent]="['Dashboard', 'Layouts']" [buttonsIconsName]="['house', 'columns']"></app-nav-group>
    <app-nav-group class="side-nav__nav-group" [impairedMode]="impairedMode" [fontSize]="fontSize" [groupName]="'pages'" [buttonsContent]="['Account Settings', 'Authentications', 'Misc']" [buttonsIconsName]="['window', 'lock', 'boxes']"></app-nav-group>
    <app-nav-group class="side-nav__nav-group" [impairedMode]="impairedMode" [fontSize]="fontSize" [groupName]="'components'" [buttonsContent]="['Cards', 'User Interface', 'Extended UI', 'BoxIcons']" [buttonsIconsName]="['card-heading', 'bookmark', 'view-list', 'box2']"/>
    <app-nav-group class="side-nav__nav-group" [impairedMode]="impairedMode" [fontSize]="fontSize" [groupName]="'forms & tables'" [buttonsContent]="['Form Elements']" [buttonsIconsName]="['ui-checks-grid']"></app-nav-group>
  </div>
</div>