@import "abstracts/mixins";

.app {
  @include flexContainer(
    $justify-content: flex-start,
    $align-items: flex-start
  );

  width: 100%;

  &__side-nav {
    width: 15%;
    height: 120vh;
  }

  &__side-nav--impaired {
    width: 15%;
    height: 120vh;
    background-color: black;
    color: yellow;
  }

  &__header {
    @include flexContainer($gap: 1rem);
    width: 100%;
    font-size: 24px;
    font-weight: bold;
  }

  &__serach-bar {
    width: 100%;
  }

  &__main {
    width: 100%;
    background-color: lightyellow;
    height: 120vh;
  }

  &__main--impaired {
    width: 85%;
    background-color: darkslategrey;
    color: yellow;
    height: 120vh;
  }

  &__content {
    height: 100%;
  }

  &__chat {
    position: fixed;
    bottom: 70%;
    right: 5rem;
    width: 10em;
    height: 3em;
  }
}
