<div class="app">
  <app-side-nav
    *ngIf="authService.isUserAuthorized"
    [impairedMode]="impairedMode"
    [fontSize]="fontSize"
    [ngClass]="impairedMode ? 'app__side-nav--impaired' : 'app__side-nav'"
  ></app-side-nav>
  <div [ngClass]="impairedMode ? 'app__main--impaired' : 'app__main'">
    <div *ngIf="authService.isUserAuthorized" class="app__header">
      <app-search-bar class="app__search-bar"></app-search-bar>
      <button (click)="increaseFontSize()" class="btn btn-default">
        <i class="bi bi-plus-square"></i>
      </button>
      {{ fontSize }}
      <button (click)="descreaseFontSize()" class="btn btn-default">
        <i class="bi bi-dash-square"></i>
      </button>
      <button (click)="changeMode()" class="btn btn-outline-secondary button">
        Change mode
      </button>
    </div>
    <router-outlet class="app__content"></router-outlet>
    <app-chat *ngIf="authService.isUserAuthorized" class="app__chat"></app-chat>
  </div>
</div>
