<div class="app">
  <app-side-nav
    [impairedMode]="impairedMode"
    [fontSize]="fontSize"
    [ngClass]="impairedMode ? 'app__side-nav--impaired' : 'app__side--nav'"
  ></app-side-nav>
  <div [ngClass]="impairedMode ? 'app__main--impaired' : 'app__main'">
    <div class="app__header">
      <app-search-bar class="app__search-bar"></app-search-bar>
      <button (click)="increaseFontSize()" class="btn btn-default">
        <i class="bi bi-plus-square"></i>
      </button>
      {{ fontSize }}
      <button (click)="descreaseFontSize()" class="btn btn-default">
        <i class="bi bi-dash-square"></i>
      </button>
      <button (click)="changeMode()" class="btn btn-outline-secondary button">
        Change mode
      </button>
    </div>
    <div class="app__content">
      <app-content-card [imageSource]="'assets/img/1.png'"></app-content-card>
      <app-content-card [imageSource]="'assets/img/2.png'"></app-content-card>
      <app-content-card [imageSource]="'assets/img/3.png'"></app-content-card>
      <app-content-card [imageSource]="'assets/img/4.png'"></app-content-card>
      <app-content-card [imageSource]="'assets/img/5.png'"></app-content-card>
      <app-content-card [imageSource]="'assets/img/6.png'"></app-content-card>
      <app-content-card [imageSource]="'assets/img/7.png'"></app-content-card>
    </div>
  </div>
</div>
