<div class="app__content">
  <app-content-card [imageSource]="'assets/img/1.png'"></app-content-card>
  <app-content-card [imageSource]="'assets/img/2.png'"></app-content-card>
  <app-content-card [imageSource]="'assets/img/3.png'"></app-content-card>
  <app-content-card [imageSource]="'assets/img/4.png'"></app-content-card>
  <app-content-card [imageSource]="'assets/img/5.png'"></app-content-card>
  <app-content-card [imageSource]="'assets/img/6.png'"></app-content-card>
  <app-content-card [imageSource]="'assets/img/7.png'"></app-content-card>
</div>